<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">てきとーカクテル</a></br>	
      </div>
      <div class="collapse navbar-collapse" id="target">
	<ul class="nav navbar-nav">
	  <li><a href="/cocktails/about">このサイトについて</a></li>
	</ul>
	<div class="navbar-form navbar-right" >
	  <%= form_tag cocktails_path, class: "form-inline", :method => 'get' do %>
	  <%= text_field_tag :search, params[:search], placeholder: "検索", class: "form-control"%>
	  <%= submit_tag "検索", :class => 'btn btn-default', :name => nil %>
	  <% end %>
	  <%= yield %>
	</div>
      </div>
    </div>
  </nav>
</head>





<body>
  <div class="container">
    <div class="abouttext">
      <h1>このサイトについて</h1>

      
      <h3>カクテルの割合</h3>
      <p>このサイトでは作ったことのないカクテルでも”とりあえず”作れるように、
	ベースのお酒と割材の比率を明記してあります。<br>
	書いてある比率で作ってみて、もう少しアルコールが弱いほうがいいなど感じたらアレンジしてみる、という流れがいいと思います。<br>
	サイト作った人もカクテルに詳しい訳ではないので許してください。</p>

      <h3>円グラフの色</h3>
      <p>円グラフに使われている色はあくまでその飲み物のイメージカラーです。<br>
	実際の色と違ってもスルーしてください。<br>
	（忠実に再現すると色が被りまくってひどいことになりました）</p>
	


	
    </div>
  </div>

</body>







<hr>
<footer class="footer">
  <div class="container">
    <ul>
    <li><a href="/">トップ</a>&emsp;</li>
    <li>&emsp;<%= link_to "カクテル一覧", :controller => "cocktails", :action => "index" %></li>
    </ul>
    </div>
</ul>
