<head>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"> てきとーカクテル</a>
		</div>
		
		<div class="collapse navbar-collapse" id="target">
			<ul class="nav navbar-nav">
				<li><a href="">メニューＡ</a></li>
				<li><a href="">メニューＢ</a></li>
				<li><a href="">メニューＣ</a></li>
			</ul>
		</div>
	</div>
</nav>
</head>

<div class="container">

<%= form_tag cocktails_path, :method => 'get' do %> 
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "検索", :name => nil %>
  </p>
  <% end %>
  
  <%= yield %>

  <%= link_to "一覧", :controller => "cocktails", :action => "index" %></br>

  <div class="row">
    <% @cocktail.each do |cocktail| %>
    <div class="col-xs-6 col-md-4">
      <div class="box11">
	<%= link_to cocktail.name,cocktail_path(cocktail.id)%></br>
	<%= cocktail.base %></br>
	<%= cocktail.mixer %></br>
	<% if cocktail.other == '' %>
	</br>
	<%= pie_chart [[cocktail.base, cocktail.bratio],
	               [cocktail.mixer, cocktail.mratio]],
	               colors:[cocktail.bcolor,cocktail.mcolor]%>
	<% else %>
	<%= cocktail.other %></br>
	<%= pie_chart [[cocktail.base, cocktail.bratio],
	               [cocktail.mixer, cocktail.mratio],
	               [cocktail.other, cocktail.oratio]],
	               colors:[cocktail.bcolor,cocktail.mcolor,cocktail.ocolor] %>
	<% end %>
      </div>
      
    </div>
    <% end %>
  </div>
  <%= paginate @cocktail, :window => 2 %>
</div>
