<h1>一覧</h1>

<div class="container">

<%= form_tag cocktails_path, :method => 'get' do %> 
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %>
  
  <%= yield %>

  <%= link_to "一覧", :controller => "cocktails", :action => "index" %></br>

  <%= link_to "とりあえず基本の", :controller => "table", :action => "show" %>

  <div class="row">
    <% @cocktail.each do |cocktail| %>
    <div class="col-xs-6 col-md-4">
      <div class="box11">
	<%= link_to cocktail.name,cocktail_path(cocktail.id)%></br>
	<%= cocktail.base %></br>
	<%= cocktail.mixer %></br>
	<% if cocktail.other == '' %>
	</br>
	<%= pie_chart [[cocktail.base, cocktail.bratio],
	               [cocktail.mixer, cocktail.mratio]],
	               colors:[cocktail.bcolor,cocktail.mcolor]%>
	<% else %>
	<%= cocktail.other %></br>
	<%= pie_chart [[cocktail.base, cocktail.bratio],
	               [cocktail.mixer, cocktail.mratio],
	               [cocktail.other, cocktail.oratio]],
	               colors:[cocktail.bcolor,cocktail.mcolor,cocktail.ocolor] %>
	<% end %>
      </div>
      
    </div>
    <% end %>
  </div>
  <%= paginate @cocktail, :window => 2 %>
</div>
