<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#target">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">てきとーカクテル</a></br>	
      </div>
      <div class="collapse navbar-collapse" id="target">
	<ul class="nav navbar-nav">
	</ul>
	<div class="navbar-form navbar-right" >
	  <%= form_tag cocktails_path, class: "form-inline", :method => 'get' do %>
	  
	  <%= text_field_tag :search, params[:search], placeholder: "検索", class: "form-control"%>
	  <%= submit_tag "検索", :class => 'btn btn-default', :name => nil %>
	  
	  <% end %>
	  <%= yield %>
	</div>
      </div>
    </div>
  </nav>
</head>

<div class="container">

<p> 名前　 :　<%= @cocktail.name %> </p>
<p> ベース :　<%= link_to cocktails_path(:search => @cocktail.base) do%> <%= @cocktail.base %> <% end %></p>
<p> 割材　 :　<%= link_to cocktails_path(:search => @cocktail.mixer) do%> <%= @cocktail.mixer %> <% end %></p>
<% if @cocktail.other == '' %>
</br>
<%= pie_chart [[@cocktail.base, @cocktail.bratio],
              [@cocktail.mixer, @cocktail.mratio]],
	      colors:[@cocktail.bcolor,@cocktail.mcolor]%>
<% else %>
<p> その他 :　<%= link_to cocktails_path(:search => @cocktail.other) do%> <%= @cocktail.other %> <% end %></p>
<%= pie_chart [[@cocktail.base, @cocktail.bratio],
	      [@cocktail.mixer, @cocktail.mratio],
	      [@cocktail.other, @cocktail.oratio]],
	      colors:[@cocktail.bcolor,@cocktail.mcolor,@cocktail.ocolor] %>
<% end %>




</div>

