<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="c8PdNCsMN0v34gElPzJUoltiOwHBaIf7gLg0rnDiqAw" />
    <title>てきとーカクテル - カクテル検索サイト</title>
    <%= favicon_link_tag("favicon-glass.ico") %>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

    <meta name="description" content="適当でいいからとりあえずカクテルを作りたい人向けのカクテル検索サイトです。家に余ってるお酒、ジュースをカクテルにして飲んで見ませんか？">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
